body {
    font-family: Arial;
}
.app-page {
    background: #d3d3d3;
    padding: 30px 15px;
    width: 960px;
    margin: 0 auto;
}
.tweets
{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.tweet
{
    height: 80px;
    color: #2c3e50;
    border-radius: 3px;
    background: white;
    box-shadow: 0 3px 0 #eee;
}

.tweet .avatar
{
    float: left;
    width: 48px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 48px;
}

.tweet blockquote
{
    font-size: 14px;
    padding: 10px;
}

.tweet blockquote cite
{
    font-weight: bold;
    font-style: normal;
}

.tweet blockquote cite a
{
    display: inline-block;

    margin-right: 5px;

    text-decoration: none;

    color: #1abc9c;
}

.tweet blockquote .screen-name
{
    font-size: 13px;
    font-weight: normal;

    color: #ccc;
}

.tweet blockquote .content
{
    display: block;
    margin-top: 5px;
}
